/* Variables */
:root {
    --khaki: #F0E68C;
    --khakiDark: #BDB76B;
    --darkStaleGray: #2F4F4F;
    --white: #FFFFFF;
}
.active {
    background-color: var(--darkStaleGray) !important;
    color: var(--khaki) !important;
}
/* Import Font */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
.profile-img{
    border-bottom: #2F4F4F;
    border-top: #2F4F4F;
}
/* Account Page === Profile */
main {
    background: var(--white);
}

main .account-page {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

main .account-page .profile {
    width: 30%;
}

main .account-page .profile .profile-img {
    width: 140px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 60px;
    overflow: none;
    text-align: center;
}

main .account-page .profile .profile-img img {
    width: 100%;
    height: 140px;
    border-radius: 50%;
    border: 1px solid rgba(231, 48, 3, 0.918);
    object-fit: cover;
    box-shadow: 0px 0px 8px #9e9e9e;
}

main .account-page .profile .profile-img h2 {
    color: var(--darkStaleGray);
    margin-top: 10px;
    margin-bottom: 5px;
}

main .account-page .profile ul {
    list-style: none;
    padding: 10px;
}

main .account-page .profile ul li {
    margin-bottom: 5px;
}

main .account-page .profile ul li a {
    color: var(--darkStaleGray);
    border: 1px solid rgba(236, 240, 241, 0.3);
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    padding: 5px 8px;
    display: block;
}

main .account-page .profile ul li a:hover {
    background-color: var(--darkStaleGray);
    color: var(--khaki);
}

main .account-page .profile ul li a span {
    float: right;
}

/* Account Page === Detail */
main .account-page .account-detail {
    width: 60%;
}

main .account-page .account-detail input[type="submit"] {
    background-color: var(--khaki);
    color: var(--darkStaleGray);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;
    margin-top: 20px;
    display: block;
    border: none;
    cursor: pointer;
    width: 100%;
}

main .account-page .account-detail input[type="submit"]:hover {
    background-color: var(--darkStaleGray);
    color: var(--khaki);
}

@media screen and (max-width: 768px) {
    main .account-page {
        flex-direction: column;
    }

    main .account-page .profile {
        width: 100%;
        margin-bottom: 20px;
    }

    main .account-page .account-detail {
        width: 100%;
    }
}