/* Content Section === Checkout Page */
main .checkout-page{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.form-group label{
font-size: 20px;
font-weight: bold;
}
main .checkout-page .billing-detail{
    width: 60%;
}
main .checkout-page .billing-detail h4{
    display: block;
    font-weight: bold;
    background-color: rgb(238, 202, 1);
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 10px;
}
main form.checkout-form .form-group{
    margin: 10px 5px;
    width: calc(100% - 10px);
}
main form.checkout-form label{
    color: red;
    display: block;
    margin-bottom: 6px;
}
main form.checkout-form .form-group input,
main form.checkout-form .form-group select,
main form.checkout-form .form-group textarea{
    width: 90%;
    padding: 8px 5px
}
main form.checkout-form input:focus,
main form.checkout-form select:focus,
main form.checkout-form textarea:focus{
    outline: 1px solid var(--darkStaleGray);
}
main form.checkout-form .form-inline{
    display: flex;
    justify-content: space-between;
}
main form.checkout-form .form-inline .form-group{
    width: 48%;
}
/* Content Section === Checkout Page === Order Summary */
main .order-summary{
    width: 30%;
    padding: 5px;
    border: 1px solid whitesmoke;
}
main .order-summary .checkout-total span{
    float: right;
}
main .order-summary .checkout-total textarea{
    width: 100%;
    resize: none;
    display: none;
    font-size: 12px;
    padding: 5px;
}
main .order-summary .checkout-total h3{
    background-color: purple;
    text-transform: uppercase;
    padding: 10px;
}
main .order-summary .checkout-total ul{
    list-style: none;
    padding: 10px;
}
main .order-summary .checkout-total ul li{
    margin-bottom: 10px;
}
main .order-summary .checkout-total ul li input[type="radio"]{
    width: 15px;
    height: 15px;
    position: relative;
    appearance: none;
    outline: none;
    margin-right: 5px;
}
main .order-summary .checkout-total ul li input[type="radio"]:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 2px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    background-clip: content-box;
}
main .order-summary .checkout-total ul li input:checked[type="radio"]:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 2px;
    background-color:black;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    background-clip: content-box;
}
main .order-summary .checkout-total ul li input[type="submit"]{
    background-color: rgb(238, 202, 1);
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;
    margin-top: 20px;
    display: block;
    border: none;
    cursor: pointer;
    width: 100%;
}
main .order-summary .checkout-total ul li input[type="submit"]:hover{
    background-color:coral;
    color: var(--khaki);
}

@media screen and (max-width: 960px){
    main .checkout-page{
        flex-direction: column;
    }
    main .checkout-page .billing-detail{
        width: 100%;
    }
    main .order-summary{
        width: 100%;
    }
}