
/*contact Page */
main .contact{
    padding: 30px;
}
main .contact .heading{
    text-align: center;
}
main .contact .heading h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
main .contact form{
    width: 60%;
    margin: 40px auto 0;
}
main .contact form input[type="submit"]{
    background-color: var(--khaki);
    border: 1px solid transparent;
    color: var(--darkStaleGray);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
    display: inline;
}

@media (max-width: 768px){
    main .contact form{
        width: 100%;
    }
}