main .account-page .account-detail table{
    border: 1px solid #eee;
    width: 100%;
    border-collapse: collapse;
}

main .account-page .account-detail table th,
main .account-page .account-detail table td{
    padding: 8px;
    text-align: center;
    border: 1px solid #eee;
}